::selection {
  background-color: #f0f4f8;
}

::-moz-selection {
  background-color: #f0f4f8;
}

body {
  margin: 0;
  padding: 10px;
}

body,
textarea {
  font:400 1em/1.8 Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 5px 10px;
  font:400 1.125em/1 Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  background: #eee;
  color: #333;
  border: 1px solid #ddd;
  outline: 0;
  box-shadow: 0 1px 3px #ddd;
  transition: .25s;
  cursor: pointer;
}

.btn:hover {
  background: #f8f8f8;
  color: #000;
  border-color: #d0d0d0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.title {
  color: #630;
}

.intro {
  color: #444;
}

.test-section h2 {
  color: #ddd;
}

.col {
  margin-right: 30px;
}

.desc {
  margin: 0;
  padding: 5px;
  width: 300px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #aaa;
  outline: 0;
  overflow: hidden;
  resize: none;
}

.desc:focus {
  border-color: #555;
}